body, html {
	font-family: 'Raleway', sans-serif;
	text-rendering: optimizeLegibility !important;
	-webkit-font-smoothing: antialiased !important;
	color: #777;
	font-weight: 300;
	width: 100% !important;
	height: 100% !important;
}

h1 {
  text-transform: uppercase;
    background: rgba(0, 0, 0, 0.55);
  padding: 7px 12px;
  color: white;
  left:20%;
  margin: 0 0 24px 0;
  font: 12px Sans-Serif;
 font-size: 2.9rem;
  white-space: nowrap;
}


h2 {
	margin: 0 0 24px 0;
	font-weight: 550;
	font-size: 27px;
	color: #333;
	text-transform: uppercase;
}

h3 {
	font-size: 29px;
	font-weight: 500;
	color: #333;
	left: 32%;
	top: 33%;
	position: absolute;
	 
}

.butonulMeu2{
	background-color: #4CAF50;
  border: 1px solid;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 18.5px;
position: absolute;
 left: 38%;
  top:49%;

   float:left;
   margin-right:5px;
	
}


.butonulMeu3{
	background-color: #4CAF50;
  border: 1px solid;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 18.5px;
position: absolute;
 left: 53%;
 top:49%;

   float:left;
   margin-right:5px;
	
}