<!DOCTYPE html>
<html>
<head>

   <title>
     About
   </title>
   <link rel ="stylesheet" type="text/css" href="css/style.css"> 
</head>

<body>

<nav id="menu" class="navbar navbar-default navbar-fixed-top">
  <div class="container"> 
    <!-- Brand and toggle get grouped for better mobile display -->
    
    
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
    
         <li><a href="indexClient.jsp">Home</a></li>
         <li><a href="pageRestaurantCView.jsp">Restaurants</a></li>
         <li><a href="aboutPage.html">About</a></li>
         <li><a href="contactPage.html">Contact</a></li>
         <li><a href="<%=request.getContextPath()%>/LogoutServlet">Logout</a></li>
      </ul>
    </div>
    <!-- /.navbar-collapse --> 
  </div>
</nav>

 <div class="aboutText">
     <h1>About </h1>
     </div>
     <br><br><br>
     <div class="aboutInfo">
      <p>Food delivery made simple!</p>
      <p>Pick your favorite foods from our catalogue and get them delivered right to your door! </p>
     </div>



</body>


</html>