<!DOCTYPE html>
<html>
<head>

   <title>
     Contact 
   </title>
   <link rel ="stylesheet" type="text/css" href="css/contactstyle.css"> 
</head>

<body>

<nav id="menu" class="navbar navbar-default navbar-fixed-top">
  <div class="container"> 
    <!-- Brand and toggle get grouped for better mobile display -->
    
    
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
    
         <li><a href="indexClient.jsp">Home</a></li>
         <li><a href="pageRestaurantCView.jsp">Restaurants</a></li>
         <li><a href="aboutPage.html">About</a></li>
         <li><a href="contactPage.html">Contact</a></li>
         <li><a href="<%=request.getContextPath()%>/LogoutServlet">Logout</a></li>
      </ul>
    </div>
    <!-- /.navbar-collapse --> 
  </div>
</nav>

     <div class="contactText">
     <h1>Contact </h1>
     </div>
     <br><br><br>
     <div class="contactPhone">
      <p>Phone number : 0748000000 </p>
      <p>Email : andistefan98@yahoo.com</p></div>
     

</body>


</html>