*{
   margin: 0;
   padding: 0;
   font-family: verdana;

}

  #first{
     
  width:100%;
  height:100vh;
  background-image: url("../poze/res2.jpg");
  background-size: cover;
  
  }
  
 nav{
 
 width:100%;
 height: 80px;
 background-color: #000;
 line-height: 80px;
 }
 
 nav ul{
 float: right;
 margin-right: 25px;
 }
 
 nav ul li{
 
 list-style-type : none;
 display: inline-block;
 
 }
 
 nav ul li:hover{
     background-color: #f39d1a;
 }
 
 nav ul li a{
   text-decoration: none;
   color: #fff;
   padding: 25px;
  
 }

.title{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  text-align: center;
 }
 

 
 