*{
   margin: 0;
   padding: 0;
   font-family: verdana;

}

  #main{
     


  }
  
 nav{
 
 width:100%;
 height: 80px;
 background-color: #000;
 line-height: 80px;
 }
 
 nav ul{
 float: right;
 margin-right: 25px;
 }
 
 nav ul li{
 
 list-style-type : none;
 display: inline-block;
 
 }
 
 nav ul li:hover{
     background-color: #f39d1a;
 }
 
 nav ul li a{
   text-decoration: none;
   color: #fff;
   padding: 25px;
  
 }

.title{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  text-align: center;
 }
 
 h1 {
  text-transform: uppercase;
    background: rgba(0, 0, 0, 0.75);
  padding: 4px 8px;
  color: white;
  margin: 0;
  font: 14px Sans-Serif;
 font-size: 4.5rem;
  white-space: nowrap;
}

p{
	margin: 0;
 color: white;
    font: 14px Sans-Serif;
    background: rgba(0, 0, 0, 0.75);
  padding: 8px 12px;
   font-size: 2.2rem;
	
}
 
 
 